$primaryColor: #22333B;
$secondaryColor: #62929E;
$accentColor: #DB0000;
$fontColorLight: #ffffff;
$fontColorDark: #000000;

$defaultFont: "Ubuntu", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;